:root {
    --blue-color: #5789F5;
    --white-color: #F6F9FF;
    --gray-color: #ADB1C2;
    --blue-gray-color: #2C313D;
    --black-gray-color: #1C1F24;
    --light-gray-color: #343B48;
    --violet-gray-color: #23252F;
}